@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

emoji-picker {
  width: 100%;
  height: 280px;
  --num-columns: 14;
}
/* This file is for your main application CSS */
